._35i0{text-decoration:underline}._4g4e{color:#4b4f56}
.sp_RZ9AvWQKNjp_1_5x{background-image:url(/rsrc.php/v3/yX/r/L-HRc_6Fwxs.png);background-size:14px 28px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_RZ9AvWQKNjp_1_5x.sx_a75086{background-position:0 0}.sp_RZ9AvWQKNjp_1_5x.sx_1877bd{background-position:0 -14px}

#bootloader_l1X6L{height:42px;}.bootloader_l1X6L{display:block!important;}